include src/domain.hpp
include src/generate_from_inr.hpp
include src/generate_from_off.hpp
include src/generate_periodic.hpp
include src/generate.hpp
include src/generate_surface_mesh.hpp
include src/polygon2d.hpp
include src/primitives.hpp
include src/remesh_surface.hpp
include src/sizing_field.hpp
include src/version.hpp

include test/helpers.py
recursive-include test/meshes *
